<div class="bg-image bg-white bg-opacity-50" style="
    background-image: url('./assets/fondo-pantalla.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <div>
    <h1 class="text-left" style="padding-left: 10%; padding-bottom: 0 !important; padding: 5vh">
      TU CONTRUYES UN HOGAR, <br />
      <b> NOSOTROS TE AYUDAMOS A ENCONTRAR LA CASA. </b>
    </h1>
    <h4 class="text-left" style="padding-left: 10%; padding-top: 2px !important; padding: 5vh">
      Descubre aquí como encontrar el imueble perfecto para ti y tu familia
    </h4>
  </div>
  <!--Tarjetas-->
  <div class="text-center container">
    <div class="row m-0">
      <div class="col m-0">
        <!--Primera Tarjeta-->
        <div class="card m-4 auto shadow">
          <a routerLink="#">
            <div class="card-body" style="
                height: 350px;
                background-image: url('./assets/tarjeta-2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
              ">
            </div>

            <div class="card-footer bottom"
              style="vertical-align: bottom; background-color: rgb(229, 231, 235); color: rgb(31, 41, 55);">
              <h6 class="card-text">
                Sientete libre de moverte donde quieras
              </h6>
              <h2 class="card-title"><b>Inmuebles en arriendo</b></h2>
            </div>

          </a>
        </div>
      </div>
      <div class="col m-0">
        <!--Segunda Tarjeta-->
        <a routerLink="#">
          <div class="card m-4 auto shadow">
            <div class="card-body" style="
                  height: 350px;
                  background-image: url('./assets/tarjeta-1.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                ">
            </div>
            <div class="card-footer"
              style="vertical-align: bottom; background-color: rgb(156, 163, 175); color: rgb(31, 41, 55);">
              <h6 class="card-text">
                Asegura los cimientos de tu familia
              </h6>
              <h2 class="card-title"><b>Inmuebles en Venta</b></h2>
            </div>
          </div>
        </a>
      </div>
      <div class="w-100  m-0 center"></div>
      <div class="col mr-0">
        <!--Tercera Tarjeta-->
        <a routerLink="#">
          <div class="card m-4 auto shadow">
            <div class="card-body" style="
                  height: 350px;
                  background-image: url('./assets/tarjeta-3.png');
                  background-repeat: no-repeat;
                  background-size: cover;
                ">
            </div>
            <div class="card-footer" style="vertical-align: bottom; background-color: rgb(75, 85, 99); color: #fff;">
              <h6 class="card-text">
                ¿Indeciso?
              </h6>
              <h2 class="card-title"><b>Contacta con un asesor</b></h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col m-0">
        <!--Cuarta Tarjeta-->
        <a routerLink="/empresa">
          <div class="card m-4 auto shadow">
            <div class="card-body" style="
                  height: 350px;
                  background-image: url('./assets/tarjeta-4.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                ">
            </div>
            <div class="card-footer"
              style="vertical-align: bottom; background-color: rgb(209, 213, 219); color: rgb(31, 41, 55);">
              <h6 class="card-text">
                Conoce nuestros
              </h6>
              <h2 class="card-title"><b> Valores empresariales </b></h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
