.btn-editar{
    background-color: green;
    color: white;
    margin: 10px;
    

}
.btn-borrar{
    background-color: rgb(236, 38, 38);
    color: white;
    
    
}
.btn-success{

color: black;
background: none;
border: none;
}
.buscar{
    position: absolute;
    padding: 5px;
    z-index: 1;

    left: 20px;
    position: fixed;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: none;
    border-radius: 30px;
    transition: all 0.6s ease;
    

}
.btn-buscar{
    position: absolute;
    top: 0;
    right: 0;
    background: #ffc107;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    


}
.buscar:hover input{
    width: 240px;
    border: 1px solid silver;
    
}
.buscar input:focus{
    width: 240px;
}
