<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" routerLink="/inicio"><img src="./assets/Inmobiliaria.png" alt="Hogar Colombia"
      style="width: 95px" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="!inicioSesion" class="nav-item">
        <a class="nav-link" routerLink="administracion/inmuebles">Inmuebles</a>
      </li>
      <li *ngIf="!inicioSesion" class="nav-item">
        <a class="nav-link" routerLink="administracion/clientes">Clientes</a>
      </li>
      <li *ngIf="!inicioSesion" class="nav-item">
        <a class="nav-link" routerLink="/seguridad/cambioClave">Cambiar clave</a>
      </li>
      <li *ngIf="!inicioSesion" class="nav-item">
        <a class="nav-link" routerLink="/administracion/crud-inmueble">Administrar inmuebles</a>
      </li>
    </ul>
  </div>
  <span>
    <ul class="navbar-nav">
      <li *ngIf="!inicioSesion" class="nav-item">
        <a routerLink="/seguridad/identificar">
          <button type="button" class="btn amber-600" >
            Iniciar Sesion
          </button>
        </a>
      </li>
      <li *ngIf="!inicioSesion" class="nav-item">
        <a routerLink="/seguridad/registro">
          <button type="button" class="btn amber-600" style="background-color: #ffc107">
            Registrarse
          </button>
        </a>
      </li>
      <li *ngIf="inicioSesion" class="nav-item">
        <a routerLink="/seguridad/identificar">
          <button type="button" class="btn amber-600" style="background-color: #ffc107">
            Cerrar Sesion
          </button>
        </a>
      </li>
    </ul>
  </span>
</nav>
