:root {
  --dark: #ffffff;
  --dark-x: #ffffff;
  --light: black;
}
body {
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
  color: var(--light);
}

.bg-dark {
  background-color: var(--dark) !important;
}
.bg-dark-x {
  background-color: var(--dark-x);
}
.from-control,
.btn {
  min-height: 3.115rem;
  line-height: initial;
}
.img-1{
  background-image: url(img/img-1.jpg);
  background-size: cover;
  background-position: center;
}
.img-2{
  background-image: url(img/img-2.jpg);
  background-size: cover;
  background-position: center;
}
.img-3{
  background-image: url(img/img-3.jpg);
  background-size: cover;
  background-position: center;
}
