<div class="container">
  <div class="card p-2 my-2">
    <div class="card-body">
      <h5 class="card-title">Nuestra Misión</h5>
      <p class="card-text">
        En Hogar Colombia tenemos una clara filosofía: la lealtad a nuestros
        clientes es la mayor prioridad. Así que, siguiendo esta línea de
        pensamiento, ofrecemos a nuestros usuarios la mayor variedad de
        inmuebles que no solamente cumplen con las mejores condiciones en el
        mercado, sino que también somos una gran familia de talento humano
        dispuesta a guiarte paso a paso para que tus proyecciones y sueños sean
        tu mas cercana realidad. Aquí en Hogar Colombia tenemos a los mejores
        para acompañar a los mejores a cumplir sus metas.
      </p>
    </div>
  </div>

  <div class="card p-2 my-2">
    <div class="card-body">
      <h5 class="card-title">Nuestra Visión</h5>
      <p class="card-text">
        Nuestra meta es clara: Brindar nuestra calidad no solamente a nivel
        nacional sino a todos los rincones del mundo donde sea posible. Expandir
        nuestros valores hacia todos aquellos que no solamente busquen un
        inmueble, sino a aquellos que busquen un hogar y un espacio para
        expandir sus ideas.
      </p>
    </div>
  </div>
</div>
